# Visual Studio Code
.history
.vscode/settings.json

# Docker
docker-compose.override.yml

# Node.js dependencies and build artifacts
node_modules
build
dist
temp
tmp

# Environment variables
.env

# Frontend client artifacts
.openapi-generator

# macOS
.DS_Store